/* MEGAMENU STYLE
=================================*/
nav.main-menu .mega-menu-item.megamenu-fw {
    position: static;
}

nav.main-menu .megamenu-fw .mega-submenu, nav.main-menu .megamenu-content {
    width: auto !important;
}

nav.main-menu .megamenu-fw .mega-submenu .row {
    margin: 0;
}

nav.main-menu .megamenu-content {
    width: 100%;
}

nav.main-menu .mega-menu-item.megamenu-fw .mega-submenu {
    right: 0;
    left: 0;
}

nav.main-menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav.main-menu ul li {
    position: relative;
}

nav.main-menu {
    margin-bottom: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: none;
    z-index: 2;
}

nav.main-menu li ul.mega-submenu {
    text-align: right;
    position: absolute;
    visibility: hidden;
    display: block;
    opacity: 0;
    line-height: 14px;
    margin: 0;
    list-style: none;
    right: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
    transition: all .2s ease;
    z-index: 99;
    padding: 15px 0 15px;
    width: 250px;
    box-shadow: 0 3px 25px 0px rgb(43 52 59 / 10%), 0 0 0 rgb(43 52 59 / 10%) inset;
    top: auto;
    border-radius: 0px;
    margin-top: -1px;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-color: var(--white-color);
}

nav.main-menu ul.menu > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0;
}



nav.main-menu ul.menu li ul.mega-submenu li a {
    margin: 0;
    display: block;
    padding: 13px 15px 14px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: -1px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    border-bottom: 1px solid rgba(133, 146, 166, 0.19);
}

nav.main-menu ul.menu li ul.mega-submenu > li:last-child > a {
    border-bottom: 0;
}

nav.main-menu ul.menu li ul.mega-submenu li a:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    display: block;
    border-radius: 0px;
    background-color: #f1f4f9;
    opacity: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    -webkit-transition: width .5s linear;
    transition: width .5s linear;
    border-right: 3px solid #ff5e14;
}

nav.main-menu ul.menu li ul.mega-submenu li.active > a {
    color: var(--dark-grey-color);
}

nav.main-menu ul.menu li ul.mega-submenu li a:hover:before, 
nav.main-menu ul.menu li ul.mega-submenu li.active > a:before, 
nav.main-menu ul.menu li ul.mega-submenu li.active > ul.mega-submenu li.active a:before {
    opacity: 1;
    width: 100%;
    right: 0;
}

ul.menu-col li a {
    color: #6f6f6f;
}

ul.menu-col li a:hover, ul.menu-col li a:focus {
    text-decoration: none;
}





/* Responsive
=================================*/
@media (min-width:1200px) {
    nav.main-menu li.mega-menu-item ul.mega-submenu li ul {
        right: 100%;
        top: 0;
        border-top: 0;
    }

    nav.main-menu li.mega-menu-item:last-child > ul {
        left: 0;
        right: auto;
    }

    nav.main-menu ul.menu > li > a {
        display: block;
        position: relative;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 0;
    }

     nav.main-menu ul.menu > li.active > a:before {
        width: 17px;
        height: 2px;
        display: block;
        opacity: 1;
        position: absolute;
        content: "";
        bottom: 40px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: #ff5e14;

    }

    nav.main-menu ul.menu > li > a:before {

        width: 0px;
        height: 2px;
        display: block;
        opacity: 0;
        position: absolute;
        content: "";
        bottom: 40px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: #ff5e14;

    }

    nav.main-menu ul.menu > li:hover > a:before {
        width: 15px;
        opacity: 1;
    }

    nav.main-menu ul.menu > li > a:after {
    position: absolute;
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    margin-right: 4px;
    margin-top: 2px;
    opacity: 1;
    color: rgba( 255,255,255 , 0.50);
    }

    nav.main-menu ul.menu > li > a:last-child:after {
        content: unset;
    }

    nav.main-menu li.mega-menu-item ul.mega-submenu li.mega-menu-item > a.mega-menu-link:after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        float: left;
        content: "\f105";
        margin-top: 0;
    }

    nav.main-menu ul.mega-submenu.megamenu-content .content ul.menu-col li:last-child a {
        border-bottom: unset;
    }

    nav.main-menu li.mega-menu-item.on ul.mega-submenu.megamenu-content .content {
        display: block !important;
        height: auto !important;
    }

    nav.main-menu li.mega-menu-item:hover > ul.mega-submenu {
        opacity: 1;
        display: block;
        visibility: visible;
        height: auto;
        -webkit-animation: dropdown-menuhover .25s cubic-bezier(.68, -.55, .265, 1.55);
        animation: dropdown-menuhover .25s cubic-bezier(.68, -.55, .265, 1.55);
    }

    nav.main-menu .megamenu-content .megamenu-content-inner {
        display: flex;
    }

    nav.main-menu ul.menu li ul.mega-submenu li {
        position: relative;
        list-style: none;
        padding: 0px 15px;
    }

    #site-header-menu .site-navigation ul.menu > li >a {
        display: inline-block;
        padding: 15px 0px;
        text-decoration: none;
        line-height: 18px;
        height: auto;
        line-height: 18px !important;
    }

}

@media (max-width:1199px) {
    .menubar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 9;
        cursor: pointer;
    }

    .menubar-box {
        display: block;
        width: 30px;
        height: 24px;
    }

    .menubar-inner, .menubar-inner:after, .menubar-inner:before {
        position: absolute;
        width: 30px;
        height: 3px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
        background-color: var(--white-color);
    }

    .menubar--squeeze .menubar-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
        transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        transition-duration: .1s;
    }

    .menubar-inner:after, .menubar-inner:before {
        display: block;
        content: '';
    }

    .menubar-inner:after {
        bottom: -8px;
    }

    .menubar-inner:before {
        top: -8px;
    }

    .menubar--squeeze.is-active .menubar-inner {
        transition-delay: .14s;
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: rotate(45deg);
    }

    .menubar--squeeze.is-active .menubar-inner:before {
        top: 0;
        transition: top .1s ease, opacity .1s ease .14s;
        opacity: 0;
    }

    .menubar--squeeze.is-active .menubar-inner:after {
        bottom: 0;
        transition: bottom .1s ease, transform .1s cubic-bezier(.215, .61, .355, 1) .14s;
        transform: rotate(-90deg);
    }

    nav.main-menu {
        display: none;
        max-height: 10000px;
        position: absolute;
        box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08);
        z-index: 100;
        top: 100%;
        right: 0;
        left: 0;
        border-top: 3px solid var(--skin-color);
        background-color: #fff;
    }

    nav.main-menu.show {
        display: block;
        max-height: 10000px;
    }

    nav.main-menu ul.menu, nav.main-menu ul.menu > li {
        display: block;
        position: relative;
    }

    nav.main-menu ul.menu > li > a {
        display: block;
        font-weight: 600;
        font-size: 16px;
        padding: 15px 15px;
        line-height: 20px;
        border-top: 1px solid rgba(123, 128, 149, 0.15);
        text-align: right;
        transition: all .4s;
    }

    nav.main-menu ul.menu > li:first-child > a {
        border-top: none;
    }

    nav.main-menu ul.menu li ul.mega-submenu li a {
        border-bottom: 0;
    }

    nav.main-menu ul.menu li > ul.mega-submenu li a:hover {
        background-color: transparent;
    }

    nav.main-menu ul.menu li ul.mega-submenu li:not(:first-child) a {
        border-top: 1px solid rgba(93, 93, 93, 0.07)
    }

    nav.main-menu li.mega-menu-item a.mega-menu-link:after {
        font-family: 'Font Awesome 5 Free';
        content: "\f107";
        float: left;
        font-size: 16px;
        margin-right: 10px;
    }

    nav.main-menu li.mega-menu-item:first-child a.mega-menu-link:after {
        content: unset;
    }

    nav.main-menu li.mega-menu-item:first-child > a.mega-menu-link.active:after {
        content: unset;
    }

    nav.main-menu li.mega-menu-item > a.mega-menu-link.active:after {
        content: "\f106";
    }

    nav.main-menu ul.menu-left > li:last-child > ul.mega-submenu {
        border-bottom: solid 1px #e0e0e0;
    }

    nav.main-menu ul.menu li.mega-menu-item ul.mega-submenu {
        width: 100%;
        background-color: transparent;
        float: none;
        border: none;
        transform: unset;
        transition: unset;
        padding: 0 15px 10px 0;
        -moz-box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -o-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px;
        -o-border-radius: 0px 0px 0px;
        border-radius: 0px 0px 0px;
    }

    nav.main-menu ul.menu li ul.mega-submenu li.active > a {
        background-color: transparent;
    }

    nav.main-menu ul.menu li.mega-menu-item ul.mega-submenu.active {
        position: relative;
        visibility: visible;
        top: 0;
        transform: unset;
        width: 100%;
        opacity: 1;
        z-index: 1;
        display: block;
        background-color: transparent;
        box-shadow: unset;
    }

    nav.main-menu ul.menu ul.mega-submenu li.mega-menu-item.on > ul.mega-submenu {
        display: inline-block;
        margin-top: -10px;
    }

    nav.main-menu .mega-menu-item .megamenu-content .col-menu .title:before {
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: left;
        font-size: 16px;
        margin-right: 10px;
        position: relative;
        left: 0;
    }

    nav.main-menu .mega-menu-item .megamenu-content .col-menu:last-child ul.menu-col li:last-child a {
        border-bottom: none;
    }

    nav.main-menu .megamenu-content {
        padding: 0;
    }

    nav.main-menu .megamenu-content .megamenu-content {
        padding-bottom: 0;
        max-width: 100%;
        flex: 100%;
        display: block;
    }

    nav.main-menu .megamenu-content .title {
        cursor: pointer;
        display: block;
        padding: 10px 15px;
        margin-bottom: 0;
        font-weight: normal;
    }

    nav.main-menu .megamenu-content .menu-col {
        display: none;
    }

    nav.main-menu .megamenu-content .menu-col.active {
        display: block;
    }

    nav.main-menu .megamenu-content .megamenu-content-inner {
        padding: 0 15px;
    }

}
